<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="_blog/index.html">Blog</a></li>
      </ul>
    </nav>
    <div class="container"><div class="blurb">
      {{content}}
      <footer>
        <ul>
          <li><a href="https://github.com/weblabtutorial">github.com/weblabtutorial</a></li>
          <li><a href="https://weblabtutorial.github.io">weblabtutorial.github.io </a></li>
        </ul>
      </footer>
      </body>
</html>
